/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

.darkMode{
  background: #0d1321;
  button{
    background: #2ec4b6;
    color:white;
  }
  #adminPageTitle{
    color: white;
  }
  #table{
    tr{
      background-color: white;
    }
  }
  #checkout-cart-title,#profile-page-title, #profile-dark, #checkout-cart-total, #checkout-cart-page-title{
    color: white;
  }
  .profile{
    background: rgb(194, 193, 193);
  }
}
