/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
}

.navbar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #2b2d42;
  padding: 1rem 2rem;
}

.navbar a {
  font-size: 2rem;
  color: white;
  font-family: 'Lobster', cursive;
  text-decoration: none;
}

.navbar button {
  border: none;
  font-size: 1.2rem;
  color: white;
  background: none;
  cursor: pointer;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.navbar button:hover {
  color: lightgreen;
}

.navbar #counter {
  font-size: 2rem;
  font-weight: 700;
}

.sort-filter-search {
  width: 100%;
  border-bottom: 2px solid whitesmoke;
  padding: 1rem;
  margin-bottom: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sort-filter-search input {
  font-size: 1.3rem;
  color: #2b2d42;
  padding: .25rem 1rem;
  border-radius: 5px;
  outline: none;
  border: 1px solid #2b2d42;
}

.sort-filter-search .wrapper {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.sort-filter-search .wrapper button {
  border: none;
  background: #2b2d42;
  color: white;
  border-radius: 7px;
  font-size: .9rem;
  padding: .4rem 1rem;
  cursor: pointer;
  margin-right: .5rem;
}

.sort-filter-search .wrapper button:hover {
  background: #003049;
}

.sort-filter-search .wrapper select {
  border: none;
  background: #2b2d42;
  color: white;
  font-size: .9rem;
  border-radius: 7px;
  padding: .4rem 1rem;
  cursor: pointer;
  margin-right: .5rem;
}

.products {
  width: 100%;
  padding: 0 3rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}

.products .product {
  border: 2px solid whitesmoke;
  background: white;
  -webkit-box-shadow: rgba(50, 50, 93, 0.2) 0px 13px 27px -5px, rgba(0, 0, 0, 0.2) 0px 8px 16px -8px;
          box-shadow: rgba(50, 50, 93, 0.2) 0px 13px 27px -5px, rgba(0, 0, 0, 0.2) 0px 8px 16px -8px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  border-radius: 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.products .product .image {
  width: 15rem;
  height: 15rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.products .product a {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  width: 100%;
  text-align: center;
  color: #2b2d42;
}

.products .product .addToCart {
  padding: .5rem 2rem;
  width: 100%;
  border-top: 1px whitesmoke solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.products .product .addToCart .price {
  font-size: 1.3rem;
  font-weight: bold;
  color: #2b2d42;
}

.products .product .addToCart button {
  border: none;
  background: none;
  color: #ef233c;
  cursor: pointer;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  font-size: 1.2rem;
}

.products .product .addToCart button:hover {
  color: #d90429;
}

.products .product:hover {
  -webkit-box-shadow: rgba(128, 0, 144, 0.2) 0px 13px 27px -5px, rgba(128, 0, 144, 0.2) 0px 8px 16px -8px;
          box-shadow: rgba(128, 0, 144, 0.2) 0px 13px 27px -5px, rgba(128, 0, 144, 0.2) 0px 8px 16px -8px;
}

.footer {
  margin-top: 5rem;
  width: 100%;
  height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #2b2d42;
  color: white;
}

.footer h3 {
  margin: 1rem 0;
  font-size: 3rem;
  font-family: 'Lobster', cursive;
}
/*# sourceMappingURL=styles.css.map */