/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
}

//navbar start
.navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #2b2d42;
  padding: 1rem 2rem;

  a{
    font-size: 2rem;
    color: white;
    font-family: 'Lobster', cursive;
    text-decoration: none;
  }

  button{
    border: none;
    font-size: 1.2rem;
    color: white;
    background: none;
    cursor: pointer;
    transition: all .3s ease-in-out;
    &:hover{
      color: lightgreen;
    }
  }

  // number on the cart
  #counter{
    font-size: 2rem;
    font-weight: 700;
  }
}
// navbar ends

// sort and categories bar start
.sort-filter-search{
  width: 100%;
  border-bottom: 2px solid whitesmoke;
  padding: 1rem;
  margin-bottom: 2.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  input {
    font-size: 1.3rem;
    color:#2b2d42;
    padding: .25rem 1rem;
    border-radius: 5px;
    outline: none;
    border: 1px solid #2b2d42;
  }

  .wrapper {
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    button{
      border: none;
      background: #2b2d42;
      color: white;
      border-radius: 7px;
      font-size: .9rem;
      padding: .4rem 1rem;
      cursor: pointer;
      margin-right: .5rem;
      &:hover{
        background: #003049;
      }
    }
    select{
      border: none;
      background: #2b2d42;
      color: white;
      font-size: .9rem;
      border-radius: 7px;
      padding: .4rem 1rem;
      cursor: pointer;
      margin-right: .5rem;
    }
  }
}
// sort and categories bar end

.products {
  width: 100%;
  padding: 0 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;

  .product {
    border: 2px solid whitesmoke;
    background: white;
    box-shadow: rgba(50, 50, 93, 0.2) 0px 13px 27px -5px, rgba(0, 0, 0, 0.2) 0px 8px 16px -8px;
    transition: all 0.5s ease-in-out;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    .image{
      width: 15rem;
      height: 15rem;
      object-fit: cover;
    }
    a {
      font-size: 1.5rem;
      font-weight: bold;
      text-decoration: none;
      width: 100%;
      text-align: center;
      color: #2b2d42;
    }

    .addToCart{
      padding: .5rem 2rem;
      width: 100%;
      border-top: 1px whitesmoke solid;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      .price {
        font-size: 1.3rem;
        font-weight: bold;
        color: #2b2d42;
      }

      button {
        border: none;
        background: none;
        color: #ef233c;
        cursor: pointer;
        transition: all .5s ease-in-out;
        font-size: 1.2rem;
        &:hover{
            color: #d90429;
        }
      }
    }
    &:hover{
      box-shadow: rgba(128, 0, 144, 0.2) 0px 13px 27px -5px, rgba(128, 0, 144, 0.2) 0px 8px 16px -8px;
    }
  }
}


// footer start
.footer {
  margin-top: 5rem;
  width: 100%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #2b2d42;
  color: white;
  h3{
    margin: 1rem 0;
    font-size: 3rem;
    font-family: 'Lobster', cursive
  }
}
// footer start
