<div class="container">
    <table id="table">
        <tr>

            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <!-- <th>Category</th> -->
            <th>Image</th>
            <th>Action</th>
        </tr>
        <tr *ngFor="let product of products">
            <!-- <td>
        <p>{{ product?.productId }}</p>
      </td> -->
            <td id="productName">
                <p>{{ product?.productName }}</p>
            </td>
            <td id="productPrice">
                <span>${{ product?.productPrice?.toFixed(2) }}</span>
            </td>
            <td id="productQuantity">
                <p>{{ product?.productQuantity }}</p>
            </td>
            <!-- <td id="productCategory">
        <p>{{ product?.productCategory }}</p>
      </td> -->

            <td>
                <img id="productImage" src="{{ product?.productImage }}" alt="{{ product.productName}}">
            </td>
            <td id="deleteButton">
                <button (click)="removeItem(product)">Delete</button>
            </td>
            <!-- <td id="productOption">
        <button id="EditProduct" (click)="onOpenModal(product, 'edit')">Edit</button>
        <button id="DeleteProduct" (click)="onOpenModal(product, 'delete')">Delete</button>
      </td> -->
        </tr>
        <tr>
            <td>
                <button (click)="emptyCart()">Empty cart</button>
            </td>
            <td>
                <button>Check Out</button>
            </td>
            <td><button routerLink="/shop" routerLinkActive="active">Shop More</button></td>
        </tr>
    </table>




</div>