.setting-page {
  width: 100%;
  height: 100vh;
  padding: 3rem 6rem;
  display: flex;
  flex-direction: column;
  h1{
    width: 100%;
    text-align: left;
    font-size: 2.5rem;
    color: #2b2d42;
    text-decoration: underline;
  }
  .setting-container{
    margin: 1rem 0 4rem 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .setting-side-nav{
      width: 30%;
      height: 100%;
      display: flex;
      flex-direction: column;
      border-right: 2px solid whitesmoke;
      list-style: none;
      background-color: #353750;
      border-radius: 9px;
      li{
        margin: .25rem 0;
        color: white;
        width: 100%;
        padding: 1rem;
        font-size: 1.25rem;
        cursor: pointer;
        transition: all .3s ease-in-out;
        &:hover{
          color: lightgreen;
          background-color: #2b2d42;
        }
      }
      #top{
        border-top-left-radius: 9px;
      }
      #bottom{
        border-bottom-left-radius: 9px;
      }
    }

    .card {
      width: 67%;
      border-radius: 9px;
      border: 2px solid whitesmoke;
    }
  }
}
