<div class="setting-page">
  <h1>Settings</h1>
  <div class="setting-container">
    <ul class="setting-side-nav">
      <li id="top">Personal Information</li>
      <li>Addresses</li>
      <li>Payments</li>
      <li id="bottom">Account</li>
    </ul>
    <div class="card">
      <div class="personal-info">
        <div class="personal-info-card">
          <label for="firstName">First Name</label>
          <input type="text" name="firstname" id="firstname" placeholder="name">
        </div>
        <div class="personal-info-card">
          <label for="lastName">Last Name</label>
          <input type="text" name="lastname" id="lastname" placeholder="name">
        </div>
      </div>
      <div class="address">
      </div>
      <div class="payments">
      </div>
      <div class="account">
      </div>
    </div>
  </div>
</div>
