<!-- header start -->
<div class="header">
  <h2>ReValue.com</h2>
  <div class="sign-in">
    <fa-icon [icon]="faUserAstronaut" id="login-icon"></fa-icon>
    <span (click)="onOpenModal('login')">Log In</span>
  </div>
</div>
<!-- header end -->

<!-- Welcome card start -->
<div class="welcome-card">
  <h1>ReValue</h1>
  <p>Whoever said money can't buy happiness, simply didn't know where to go shopping</p>
  <a href="#main-container">View Products</a>
</div>
<!-- Welcome card end -->

<!-- Store start-->
<div class="container bootdey" id="main-container">
    <div class="col-md-3">
        <section class="panel">
            <div class="panel-body">
                <input type="text" placeholder="Keyword Search" class="form-control" />
            </div>
        </section>
        <section class="panel">
            <header class="panel-heading">
                Category
            </header>
            <div class="panel-body">
                <ul class="nav prod-cat">
                    <li>
                        <a href="#" class="active"><i class="fa fa-angle-right"></i> Dress</a>
                        <ul class="nav">
                            <li class="active"><a href="#">- Shirt</a></li>
                            <li><a href="#">- Pant</a></li>
                            <li><a href="#">- Shoes</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-angle-right"></i> Bags &amp; Purses</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-angle-right"></i> Beauty</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-angle-right"></i> Coat &amp; Jacket</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-angle-right"></i> Jeans</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-angle-right"></i> Jewellery</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-angle-right"></i> Electronics</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-angle-right"></i> Sports</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-angle-right"></i> Technology</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-angle-right"></i> Watches</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-angle-right"></i> Accessories</a>
                    </li>
                </ul>
            </div>
        </section>
        <section class="panel">
            <header class="panel-heading">
                Price Range
            </header>
            <div class="panel-body sliders">
                <div id="slider-range" class="slider"></div>
                <div class="slider-info">
                    <span id="slider-range-amount"></span>
                </div>
            </div>
        </section>
        <section class="panel">
            <header class="panel-heading">
                Filter
            </header>
            <div class="panel-body">
                <form role="form product-form">
                    <div class="form-group">
                        <label>Brand</label>
                        <select class="form-control hasCustomSelect" style="-webkit-appearance: menulist-button; width: 231px; position: absolute; opacity: 0; height: 34px; font-size: 12px;">
                            <option>Wallmart</option>
                            <option>Catseye</option>
                            <option>Moonsoon</option>
                            <option>Textmart</option>
                        </select>
                        <span class="customSelect form-control" style="display: inline-block;"><span class="customSelectInner" style="width: 209px; display: inline-block;">Wallmart</span></span>
                    </div>
                    <div class="form-group">
                        <label>Color</label>
                        <select class="form-control hasCustomSelect" style="-webkit-appearance: menulist-button; width: 231px; position: absolute; opacity: 0; height: 34px; font-size: 12px;">
                            <option>White</option>
                            <option>Black</option>
                            <option>Red</option>
                            <option>Green</option>
                        </select>
                        <span class="customSelect form-control" style="display: inline-block;"><span class="customSelectInner" style="width: 209px; display: inline-block;">White</span></span>
                    </div>
                    <div class="form-group">
                        <label>Type</label>
                        <select class="form-control hasCustomSelect" style="-webkit-appearance: menulist-button; width: 231px; position: absolute; opacity: 0; height: 34px; font-size: 12px;">
                            <option>Small</option>
                            <option>Medium</option>
                            <option>Large</option>
                            <option>Extra Large</option>
                        </select>
                        <span class="customSelect form-control" style="display: inline-block;"><span class="customSelectInner" style="width: 209px; display: inline-block;">Small</span></span>
                    </div>
                    <button class="btn btn-primary" type="submit">Filter</button>
                </form>
            </div>
        </section>
        <section class="panel">
            <header class="panel-heading">
                Featured Products
            </header>
            <div class="panel-body">
                <div class="best-seller">
                    <article class="media">
                        <a class="pull-left thumb p-thumb">
                            <img src="https://via.placeholder.com/250x220/FFB6C1/000000" />
                        </a>
                        <div class="media-body">
                            <a href="#" class="p-head">Item One Tittle</a>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                    </article>
                    <article class="media">
                        <a class="pull-left thumb p-thumb">
                            <img src="https://via.placeholder.com/250x220/A2BE2/000000" />
                        </a>
                        <div class="media-body">
                            <a href="#" class="p-head">Item Two Tittle</a>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                    </article>
                    <article class="media">
                        <a class="pull-left thumb p-thumb">
                            <img src="https://via.placeholder.com/250x220/6495ED/000000" />
                        </a>
                        <div class="media-body">
                            <a href="#" class="p-head">Item Three Tittle</a>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                    </article>
                </div>
            </div>
        </section>

        <section class="panel">
          <header class="panel-heading">
              Sales
          </header>
          <div class="panel-body">
              <div class="best-seller">
                  <article class="media">
                      <a class="pull-left thumb p-thumb">
                          <img src="https://via.placeholder.com/250x220/FFB6C1/000000" />
                      </a>
                      <div class="media-body">
                          <a href="#" class="p-head">Item One Tittle</a>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                      </div>
                  </article>
                  <article class="media">
                      <a class="pull-left thumb p-thumb">
                          <img src="https://via.placeholder.com/250x220/A2BE2/000000" />
                      </a>
                      <div class="media-body">
                          <a href="#" class="p-head">Item Two Tittle</a>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                      </div>
                  </article>
                  <article class="media">
                      <a class="pull-left thumb p-thumb">
                          <img src="https://via.placeholder.com/250x220/6495ED/000000" />
                      </a>
                      <div class="media-body">
                          <a href="#" class="p-head">Item Three Tittle</a>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                      </div>
                  </article>
              </div>
          </div>
      </section>
    </div>
    <div class="col-md-9">
        <section class="panel">
            <div class="panel-body">
                <div class="pull-right">
                    <ul class="pagination pagination-sm pro-page-list">
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">»</a></li>
                    </ul>
                </div>
            </div>
        </section>

        <div class="row product-list">
            <div class="col-md-4">
                <section class="panel">
                    <div class="pro-img-box">
                        <img src="https://via.placeholder.com/250x220/FFB6C1/000000" alt="" />
                        <a href="#" class="adtocart">
                            <i class="fa fa-shopping-cart"></i>
                        </a>
                    </div>

                    <div class="panel-body text-center">
                        <h4>
                            <a href="#" class="pro-title">
                                Leopard Shirt Dress
                            </a>
                        </h4>
                        <p class="price">$300.00</p>
                    </div>
                </section>
            </div>
            <div class="col-md-4">
              <section class="panel">
                  <div class="pro-img-box">
                      <img src="https://via.placeholder.com/250x220/FFB6C1/000000" alt="" />
                      <a href="#" class="adtocart">
                          <i class="fa fa-shopping-cart"></i>
                      </a>
                  </div>

                  <div class="panel-body text-center">
                      <h4>
                          <a href="#" class="pro-title">
                              Leopard Shirt Dress
                          </a>
                      </h4>
                      <p class="price">$300.00</p>
                  </div>
              </section>
          </div>
          <div class="col-md-4">
            <section class="panel">
                <div class="pro-img-box">
                    <img src="https://via.placeholder.com/250x220/FFB6C1/000000" alt="" />
                    <a href="#" class="adtocart">
                        <i class="fa fa-shopping-cart"></i>
                    </a>
                </div>

                <div class="panel-body text-center">
                    <h4>
                        <a href="#" class="pro-title">
                            Leopard Shirt Dress
                        </a>
                    </h4>
                    <p class="price">$300.00</p>
                </div>
            </section>
        </div>
        <div class="col-md-4">
          <section class="panel">
              <div class="pro-img-box">
                  <img src="https://via.placeholder.com/250x220/FFB6C1/000000" alt="" />
                  <a href="#" class="adtocart">
                      <i class="fa fa-shopping-cart"></i>
                  </a>
              </div>

              <div class="panel-body text-center">
                  <h4>
                      <a href="#" class="pro-title">
                          Leopard Shirt Dress
                      </a>
                  </h4>
                  <p class="price">$300.00</p>
              </div>
          </section>
        </div>
      <div class="col-md-4">
        <section class="panel">
            <div class="pro-img-box">
                <img src="https://via.placeholder.com/250x220/FFB6C1/000000" alt="" />
                <a href="#" class="adtocart">
                    <i class="fa fa-shopping-cart"></i>
                </a>
            </div>

            <div class="panel-body text-center">
                <h4>
                    <a href="#" class="pro-title">
                        Leopard Shirt Dress
                    </a>
                </h4>
                <p class="price">$300.00</p>
            </div>
        </section>
      </div>
            <div class="col-md-4">
                <section class="panel">
                    <div class="pro-img-box">
                        <img src="https://via.placeholder.com/250x220/6495ED/000000" alt="" />
                        <a href="#" class="adtocart">
                            <i class="fa fa-shopping-cart"></i>
                        </a>
                    </div>

                    <div class="panel-body text-center">
                        <h4>
                            <a href="#" class="pro-title">
                                Leopard Shirt Dress
                            </a>
                        </h4>
                        <p class="price">$300.00</p>
                    </div>
                </section>
            </div>
            <div class="col-md-4">
                <section class="panel">
                    <div class="pro-img-box">
                        <img src="https://via.placeholder.com/250x220/FF7F50/000000" alt="" />
                        <a href="#" class="adtocart">
                            <i class="fa fa-shopping-cart"></i>
                        </a>
                    </div>

                    <div class="panel-body text-center">
                        <h4>
                            <a href="#" class="pro-title">
                                Leopard Shirt Dress
                            </a>
                        </h4>
                        <p class="price">$300.00</p>
                    </div>
                </section>
            </div>
            <div class="col-md-4">
              <section class="panel">
                  <div class="pro-img-box">
                      <img src="https://via.placeholder.com/250x220/FF7F50/000000" alt="" />
                      <a href="#" class="adtocart">
                          <i class="fa fa-shopping-cart"></i>
                      </a>
                  </div>

                  <div class="panel-body text-center">
                      <h4>
                          <a href="#" class="pro-title">
                              Leopard Shirt Dress
                          </a>
                      </h4>
                      <p class="price">$300.00</p>
                  </div>
              </section>
          </div>
          <div class="col-md-4">
            <section class="panel">
                <div class="pro-img-box">
                    <img src="https://via.placeholder.com/250x220/FF7F50/000000" alt="" />
                    <a href="#" class="adtocart">
                        <i class="fa fa-shopping-cart"></i>
                    </a>
                </div>

                <div class="panel-body text-center">
                    <h4>
                        <a href="#" class="pro-title">
                            Leopard Shirt Dress
                        </a>
                    </h4>
                    <p class="price">$300.00</p>
                </div>
            </section>
        </div>
        <div class="col-md-4">
          <section class="panel">
              <div class="pro-img-box">
                  <img src="https://via.placeholder.com/250x220/FF7F50/000000" alt="" />
                  <a href="#" class="adtocart">
                      <i class="fa fa-shopping-cart"></i>
                  </a>
              </div>

              <div class="panel-body text-center">
                  <h4>
                      <a href="#" class="pro-title">
                          Leopard Shirt Dress
                      </a>
                  </h4>
                  <p class="price">$300.00</p>
              </div>
          </section>
      </div>
      <div class="col-md-4">
        <section class="panel">
            <div class="pro-img-box">
                <img src="https://via.placeholder.com/250x220/FF7F50/000000" alt="" />
                <a href="#" class="adtocart">
                    <i class="fa fa-shopping-cart"></i>
                </a>
            </div>

            <div class="panel-body text-center">
                <h4>
                    <a href="#" class="pro-title">
                        Leopard Shirt Dress
                    </a>
                </h4>
                <p class="price">$300.00</p>
            </div>
        </section>
    </div>
    <div class="col-md-4">
      <section class="panel">
          <div class="pro-img-box">
              <img src="https://via.placeholder.com/250x220/FF7F50/000000" alt="" />
              <a href="#" class="adtocart">
                  <i class="fa fa-shopping-cart"></i>
              </a>
          </div>

          <div class="panel-body text-center">
              <h4>
                  <a href="#" class="pro-title">
                      Leopard Shirt Dress
                  </a>
              </h4>
              <p class="price">$300.00</p>
          </div>
      </section>
  </div>
            <div class="col-md-4">
                <section class="panel">
                    <div class="pro-img-box">
                        <img src="https://via.placeholder.com/250x220/00BFFF/000000" alt="" />
                        <a href="#" class="adtocart">
                            <i class="fa fa-shopping-cart"></i>
                        </a>
                    </div>

                    <div class="panel-body text-center">
                        <h4>
                            <a href="#" class="pro-title">
                                Leopard Shirt Dress
                            </a>
                        </h4>
                        <p class="price">$300.00</p>
                    </div>
                </section>
            </div>
            <div class="col-md-4">
                <section class="panel">
                    <div class="pro-img-box">
                        <img src="https://via.placeholder.com/250x220/00CED1/000000" alt="" />
                        <a href="#" class="adtocart">
                            <i class="fa fa-shopping-cart"></i>
                        </a>
                    </div>

                    <div class="panel-body text-center">
                        <h4>
                            <a href="#" class="pro-title">
                                Leopard Shirt Dress
                            </a>
                        </h4>
                        <p class="price">$300.00</p>
                    </div>
                </section>
            </div>
            <div class="col-md-4">
                <section class="panel">
                    <div class="pro-img-box">
                        <img src="https://via.placeholder.com/250x220/9400D3/000000" alt="" />
                        <a href="#" class="adtocart">
                            <i class="fa fa-shopping-cart"></i>
                        </a>
                    </div>

                    <div class="panel-body text-center">
                        <h4>
                            <a href="#" class="pro-title">
                                Leopard Shirt Dress
                            </a>
                        </h4>
                        <p class="price">$300.00</p>
                    </div>
                </section>
            </div>
            <div class="col-md-4">
                <section class="panel">
                    <div class="pro-img-box">
                        <img src="https://via.placeholder.com/250x220/FFD700/000000" alt="" />
                        <a href="#" class="adtocart">
                            <i class="fa fa-shopping-cart"></i>
                        </a>
                    </div>

                    <div class="panel-body text-center">
                        <h4>
                            <a href="#" class="pro-title">
                                Leopard Shirt Dress
                            </a>
                        </h4>
                        <p class="price">$300.00</p>
                    </div>
                </section>
            </div>
            <div class="col-md-4">
                <section class="panel">
                    <div class="pro-img-box">
                        <img src="https://via.placeholder.com/250x220/ADD8E6/000000" alt="" />
                        <a href="#" class="adtocart">
                            <i class="fa fa-shopping-cart"></i>
                        </a>
                    </div>

                    <div class="panel-body text-center">
                        <h4>
                            <a href="#" class="pro-title">
                                Leopard Shirt Dress
                            </a>
                        </h4>
                        <p class="price">$300.00</p>
                    </div>
                </section>
            </div>
            <div class="col-md-4">
                <section class="panel">
                    <div class="pro-img-box">
                        <img src="https://via.placeholder.com/250x220/20B2AA/000000" alt="" />
                        <a href="#" class="adtocart">
                            <i class="fa fa-shopping-cart"></i>
                        </a>
                    </div>

                    <div class="panel-body text-center">
                        <h4>
                            <a href="#" class="pro-title">
                                Leopard Shirt Dress
                            </a>
                        </h4>
                        <p class="price">$300.00</p>
                    </div>
                </section>
            </div>
            <div class="col-md-4">
                <section class="panel">
                    <div class="pro-img-box">
                        <img src="https://via.placeholder.com/250x220/3CB371/000000" alt="" />
                        <a href="#" class="adtocart">
                            <i class="fa fa-shopping-cart"></i>
                        </a>
                    </div>

                    <div class="panel-body text-center">
                        <h4>
                            <a href="#" class="pro-title">
                                Leopard Shirt Dress
                            </a>
                        </h4>
                        <p class="price">$300.00</p>
                    </div>
                </section>
            </div>
            <div class="col-md-4">
                <section class="panel">
                    <div class="pro-img-box">
                        <img src="https://via.placeholder.com/250x220/FFB6C1/000000" alt="" />
                        <a href="#" class="adtocart">
                            <i class="fa fa-shopping-cart"></i>
                        </a>
                    </div>

                    <div class="panel-body text-center">
                        <h4>
                            <a href="#" class="pro-title">
                                Leopard Shirt Dress
                            </a>
                        </h4>
                        <p class="price">$300.00</p>
                    </div>
                </section>
            </div>
            <div class="col-md-4">
                <section class="panel">
                    <div class="pro-img-box">
                        <img src="https://via.placeholder.com/250x220/C71585/000000" alt="" />
                        <a href="#" class="adtocart">
                            <i class="fa fa-shopping-cart"></i>
                        </a>
                    </div>

                    <div class="panel-body text-center">
                        <h4>
                            <a href="#" class="pro-title">
                                Leopard Shirt Dress
                            </a>
                        </h4>
                        <p class="price">$300.00</p>
                    </div>
                </section>
            </div>
            <div class="col-md-4">
                <section class="panel">
                    <div class="pro-img-box">
                        <img src="https://via.placeholder.com/250x220/191970/000000" alt="" />
                        <a href="#" class="adtocart">
                            <i class="fa fa-shopping-cart"></i>
                        </a>
                    </div>

                    <div class="panel-body text-center">
                        <h4>
                            <a href="#" class="pro-title">
                                Leopard Shirt Dress
                            </a>
                        </h4>
                        <p class="price">$300.00</p>
                    </div>
                </section>
            </div>
            <div class="col-md-4">
                <section class="panel">
                    <div class="pro-img-box">
                        <img src="https://via.placeholder.com/250x220/87CEEB/000000" alt="" />
                        <a href="#" class="adtocart">
                            <i class="fa fa-shopping-cart"></i>
                        </a>
                    </div>

                    <div class="panel-body text-center">
                        <h4>
                            <a href="#" class="pro-title">
                                Leopard Shirt Dress
                            </a>
                        </h4>
                        <p class="price">$300.00</p>
                    </div>
                </section>
            </div>
            <div class="col-md-4">
                <section class="panel">
                    <div class="pro-img-box">
                        <img src="https://via.placeholder.com/250x220/FFB6C1/000000" alt="" />
                        <a href="#" class="adtocart">
                            <i class="fa fa-shopping-cart"></i>
                        </a>
                    </div>

                    <div class="panel-body text-center">
                        <h4>
                            <a href="#" class="pro-title">
                                Leopard Shirt Dress
                            </a>
                        </h4>
                        <p class="price">$300.00</p>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
<!-- Store end-->

<!--Footer Start-->
<Footer>
  <h2>ReValue.com</h2>
  <span>Copyright &copy;{{ year }}, ReValue Inc.</span>
  <ul>
    <li>Login</li>
    <li>Register</li>
    <li><a href="#main-container">View Products</a></li>
    <li><a href="#main-container">View Categories</a></li>
    <li>Reviews</li>
    <li>About ReValue</li>
    <li>Contact Us</li>
    <li>Developers</li>
  </ul>
</Footer>
<!--Footer End-->

<div class="modal fade" id="loginModal">
  <form class="login">
    <div class="login-header">
      <h1 class="h1">Login</h1>
      <button data-dismiss="modal" class="btn btn-light">&times;</button>
    </div>
    <div class="login-body">
      <div>
        <label for="email">Email</label>
        <input type="email" name="email" id="email" placeholder="Email..." required />
      </div>
      <div>
        <label for="password">Password</label>
        <input #x type="password" name="password" id="password" placeholder="Password..." required />
        <div (click)="x.type=x.type=='password'?'text':'password'" (click)="togglePassword()" class="view-password">
          <fa-icon [icon]="faFaceRollingEyes"></fa-icon>
          <span id="viewPasswordText" style="margin-left: .5rem">View Password</span>
        </div>
      </div>
    </div>
    <div class="login-footer">
      <div class="login-submit">
        <button style="margin-right: 1rem" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button class="btn btn-primary">Login</button>
      </div>
      <div class="login-help">
        <a href="#">Forgot Password?</a>
        <span>Need to register? <a href="#">Register Here</a></span>
      </div>
    </div>
  </form>
</div>



