<div class="login">
  <h1>Login</h1>
  <form #loginForm="ngForm" (ngSubmit)="loginUser(loginForm)" ngNativeValidate>
    <div class="input-container">
      <label for="usern">Username</label>
      <input ngModel type="text" name="usern" placeholder="Username..." id="usern" required>
    </div>

    <div class="input-container">
      <label for="password">Password</label>
      <input ngModel [type]="show ? 'text' : 'password'" name="password" placeholder="Password..." id="password" required>
      <span (click)="password()"><fa-icon [icon]="faFaceRollingEyes" id="icon"></fa-icon>{{show ? 'Hide Password' : 'Show Password' }}</span>
    </div>
    <button type="submit">Login</button>
  </form>
  <div class="help">
    <span>Need to register?<a routerLink="/register" routerLinkActive="active">Register</a></span>
  </div>
</div>