// footer start
.footer {
  margin-top: 5rem;
  width: 100%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #2b2d42;
  color: white;
  h3{
    margin: 1rem 0;
    font-size: 3rem;
    font-family: 'Lobster', cursive
  }
}
// footer start
