<div class="sort-filter-search">
  <form>
    <input type="search" (ngModelChange)="searchProduct(key.value)" ngModel #key="ngModel" name="key" placeholder="Search Products..." required>
  </form>
  <div class="wrapper">
      <button (click)="getProducts()">All</button>
      <button (click)="getProductsByStatus('discount')">On Sale</button>
      <button (click)="getProductsByStatus('featured')">Featured</button>
      <ul>
        <li><button id="categoriesBtn" (click)="categoryDropdown()">Categories <fa-icon [icon]="faChevronDown" id="c-icon"></fa-icon></button></li>
        <div class="category-list" id="categories">
          <li><button id="dropdownBtn" (click)="getProductsByCategory('Phones')">Phones</button></li>
          <li><button id="dropdownBtn" (click)="getProductsByCategory('Phone Accessories')">Phone Accessories</button></li>
          <li><button id="dropdownBtn" (click)="getProductsByCategory('Television')">Television</button></li>
          <li><button id="dropdownBtn" (click)="getProductsByCategory('Laptops')">Laptops</button></li>
          <li><button id="dropdownBtn" (click)="getProductsByCategory('Computers')">Computers</button></li>
          <li><button id="dropdownBtn" (click)="getProductsByCategory('Gaming Consoles')">Gaming Consoles</button></li>
          <li><button id="dropdownBtn" (click)="getProductsByCategory('Gaming Accessories')">Gaming Accessories</button></li>
        </div>
      </ul>
      <ul>
        <li><button id="sortBtn"  (click)="sortDropdown()">Sort <fa-icon [icon]="faChevronDown" id="s-icon"></fa-icon></button></li>
        <div class="sort-list" id="sort">
          <li><button id="dropdownBtn" (click)="sort('price','asc')">Price Low - High</button></li>
          <li><button id="dropdownBtn" (click)="sort('price','desc')">Price High - Low</button></li>
          <li><button id="dropdownBtn" (click)="sort('product_name','asc')" >Product Name A-Z</button></li>
          <li><button id="dropdownBtn" (click)="sort('product_name','desc')">Product Name Z-A</button></li>
        </div>
      </ul>
  </div>
</div>
<!-- sort end -->

<!-- products start -->
<div class="products">
  <div class="product" *ngFor="let product of products">
    <div class="image">
      <img src="{{ product.productImage }}" alt="{{ product.productName }}">
    </div>
    <h2>{{ product.productName }}</h2>
    <div class="description">
      <span>{{ product.productDescription }}</span>
    </div>
    <div class="productFooter">
      <div class="cart-card-1">
        <span class="price">${{ product.productPrice.toFixed(2) }}</span>
        <span class="quantity">Quantity in stock:{{ product.productQuantity }}</span>
      </div>

      <div class="cart-card-2">
        <input type="number" name="amount" id="amount">
        <button>
          <fa-icon [icon]="faCartPlus"></fa-icon>
        </button>
      </div>
    </div>
  </div>

</div>
<!-- product end -->

<div *ngIf="products?.length == 0" class="noProducts">
  <h2>NO PRODUCTS</h2>
  <span>Sorry for the inconvenience!</span>
</div>
