<div class="sort-filter-search">
  <form>
    <input type="search" (ngModelChange)="searchProduct(key.value)" ngModel #key="ngModel" name="key" placeholder="Search Products..." required>
  </form>
  <div class="wrapper">
    <div class="filter">
      <button>On Sale</button>
      <button>Featured</button>
      <select name="categories" id="categories">
        <option selected disabled>Category</option>
        <option value="Phones">Phones</option>
        <option value="Phone Accessories">Phone Accessories</option>
        <option value="Televisons">Televisions</option>
        <option value="Laptops">Laptops</option>
        <option value="Computers">Computers</option>
        <option value="Gaming Consoles">Gaming Consoles</option>
        <option value="Gaming Accessories">Gaming Accessories</option>
      </select>
    </div>
    <div class="sort">
      <select name="sort" id="sort">
        <option selected disabled>Sort</option>
        <option value="priceLowToHigh">Price Low - High</option>
        <option value="priceHighToLow">Price High - Low</option>
      </select>
    </div>
  </div>
</div>
<!-- sort end -->

<!-- products start -->
<div class="products">
  <div class="product" *ngFor="let product of products">
    <div class="image">
      <img src="{{ product.productImage }}" alt="{{ product.productName }}">
    </div>
    <a href="#">{{ product.productName }}</a>
    <div class="description">
      <span>{{ product.productDescription }}</span>
    </div>
    <div class="addToCart">
      <span class="price">${{ product.productPrice.toFixed(2) }}</span>
      <button (click)="addToCart(product)">
        <fa-icon [icon]="faCartPlus"></fa-icon>
      </button>
    </div>
  </div>

</div>
<!-- product end -->
