<div class="reset-password-page">
  <h2>Reset Password</h2>
  <form #form="ngForm" (ngSubmit)="getUserByEmail(form)" ngNativeValidate>
    <span>Enter your linked Email Address</span>
    <input ngModel type="email" id="email" name="email" placeholder="Enter email address" />
    <button>Reset</button>
  </form>
</div>

<!-- reset form -->
<div class="screen" id="screen"></div>
<div class="reset-password-modal" id="reset-password-modal">
  <div class="modal-title">
    <h2>Change Password</h2>
    <button (click)="onCloseModal()">x</button>
  </div>
  <span>Username: {{ data?.username }}</span>
  <form #passwordForm="ngForm" (ngSubmit)="changePassword(passwordForm)" ngNativeValidate>
    <input ngModel required
    [type]="show ? 'text' : 'password'"
    name="password" id="password"
    placeholder="Password..."
    pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-])[a-zA-Z0-9!@#$%^&*-]{8,24}$"
    title="Password must contain 1 Uppercase, 1 Lowercase, 1 Digit & 1 Symbol from list {!@#$%^&*-} of length 8 to 24" />
    <span (click)="showPassword()"><fa-icon [icon]="faFaceRollingEyes" id="icon"></fa-icon>{{show ? 'Hide Password' : 'Show Password' }}</span>
    <button>Reset Password</button>
  </form>
</div>

<div class="error-notification" id="notFoundNotification">
  <div class="content">
    <span>Error, account not found</span>
  </div>
</div>

