<div class="reset-password-page">
  <h2>Reset Password</h2>
  <form #form="ngForm" (ngSubmit)="getUserByEmail(form)" ngNativeValidate>
    <span>Enter your linked Email Address</span>
    <input ngModel type="email" id="email" name="email" placeholder="Verify your email address" />
    <button>Reset</button>
  </form>
</div>

<!-- reset form -->
<div class="screen" id="screen"></div>
<div class="reset-password-modal" id="reset-password-modal">
  <div class="modal-title">
    <h2>Change Password</h2>
    <button (click)="onCloseModal()">x</button>
  </div>
  <span>Username: {{ data?.username }}</span>
  <form #passwordForm="ngForm" (ngSubmit)="changePassword(passwordForm)" ngNativeValidate>
    <input ngModel autocomplete="off" [type]="show ? 'text' : 'password'" name="password" placeholder="Password..." id="password" required>
    <span (click)="showPassword()"><fa-icon [icon]="faFaceRollingEyes" id="icon"></fa-icon>{{show ? 'Hide Password' : 'Show Password' }}</span>
    <button>Reset Password</button>
  </form>
</div>

<div class="error-notification" id="notFoundNotification">
  <div class="content">
    <span>Error, account not found</span>
  </div>
</div>

