<!-- top navbar start -->
<div class="navbar">
  <div class="card" *ngIf="isLoggedIn$ | async as isLoggedIn">
    <button (click)="userMenuDropdown()">
      <fa-icon id="icon" [icon]="faUserAstronaut"></fa-icon>
      <span id="username">{{ auth.username.value }}</span>
    </button>
  </div>
  <h2 routerLink="/shop" routerLinkActive="active">RevTech</h2>
  <div class="card" *ngIf="isLoggedIn$ | async as isLoggedIn">
    <div id="darkModeBtn">
      <button id="dark" (click)="DarkTheme()">Dark <fa-icon [icon]="faMoon"></fa-icon></button>
      <button id="light" (click)="LightTheme()"><fa-icon [icon]="faSun" [pulse]="true"></fa-icon> Light</button>
    </div>
    <button (click)="viewCart()">
      <fa-layers [fixedWidth]="true">
        <fa-icon [icon]="faShoppingCart" size="lg"></fa-icon>
        <fa-layers-counter id="counter" content="0"></fa-layers-counter>
      </fa-layers>
    </button>
  </div>
</div>
<!-- top navbar end -->

<!-- usermenu start -->
<div class="user-menu" *ngIf="isLoggedIn$ | async as isLoggedIn">
  <ul>
    <div class="menu-content">
      <li *ngIf="auth.username.value === 'Admin'"><a routerLink="/admin" routerLinkActive="active">Admin</a></li>
      <li><a routerLink="/profile" routerLinkActive="active">Profile</a></li>
      <li><a routerLink="/orders" routerLinkActive="active">Orders</a></li>
      <li (click)="onLogOut()">Log Out</li>
    </div>
  </ul>
</div>
<!-- usermenu end -->

<!--View Cart Start-->
<div class="cart">
  <div class="close-card">
  <button (click)="viewCart()" id="closeBtn">
    <fa-icon [icon]="faWindowClose"></fa-icon>
  </button>
  </div>
  <div class="cart-container">
    <h2>Cart</h2>
    <div class="products-in-cart">
    </div>
    <div class="total">
      <label for="total">Current Total</label>
      <span>$800.22</span>
    </div>
  </div>
  <div class="cart-confirm">
    <button>Check out</button>
  </div>
</div>
<!--View Cart end-->

