<div class="profile-page">
  <h2 id="profile-page-title">Profile Page</h2>
  <div class="profile" id="profile">
    <div class="profile-title">
      <div class="profile-pic">
        <fa-icon id="icon" *ngIf="auth?.username?.value === 'Admin'" [icon]="faUserSecret"></fa-icon>
        <fa-icon id="icon" *ngIf="auth?.username?.value !== 'Admin'" [icon]="faUserAstronaut"></fa-icon>
      </div>
      <div class="username-type">
        <h2>{{ auth?.username?.value }}</h2>
        <span *ngIf="auth?.username?.value === 'Admin'">Account Type: Admin</span>
        <span *ngIf="auth?.username?.value !== 'Admin'">Account Type: User</span>
      </div>
    </div>
    <div class="profile-body">
      <div class="profile-body-title">
        <h5>Account</h5>
        <div class="option">
          <button id="EditAccount" (click)="onOpenModal('edit', 'account')">Edit</button>
          <button id="delete" (click)="onOpenModal('delete', 'account')">Delete</button>
        </div>
      </div>
      <div class="profile-data">
        <p>First Name</p>
        <div class="data">
          <span>{{ data?.firstName }}</span>
        </div>
      </div>
      <div class="profile-data">
        <p>Last Name</p>
        <div class="data">
          <span>{{ data?.lastName }}</span>
        </div>
      </div>
      <div class="profile-data">
        <p>Username</p>
        <div class="data">
          <span>{{ data?.username }}</span>
        </div>
      </div>
      <div class="profile-data">
        <p>Email Address</p>
        <div class="data">
          <span>{{ data?.email }}</span>
        </div>
      </div>
      <div class="profile-data">
        <p>Phone Number</p>
        <div class="data">
          <span>{{ data?.phone }}</span>
        </div>
      </div>
      <div class="profile-data" style="border:none;">
        <p>Password</p>
        <form class="data">
          <input ngModel="{{ data?.password }}" [type]="show ? 'text' : 'password'" type="password" name="password"
            id="password" placeholder="Password" />
          <span id="showP" (click)="showPassword()">
            <fa-icon [icon]="faFaceRollingEyes"></fa-icon>{{show ? 'Hide Password' : 'Show Password' }}
          </span>
        </form>
      </div>
    </div>

    <div style="border-top: 2px solid lightgrey;padding: 2rem;" class="profile-body">
      <div class="profile-body-title">
        <h5>Address</h5>
        <div class="option">
          <button *ngIf="data?.address?.address === null" (click)="onOpenModal('add','address')">Add Address</button>
          <button *ngIf="data?.address?.address !== null"(click)="onOpenModal('edit', 'address')">Edit</button>
          <button *ngIf="data?.address?.address !== null"id="delete" (click)="onOpenModal('delete', 'address')">Delete</button>
        </div>
      </div>
      <div class="address" *ngIf="data?.address?.address !== null">
        <div class="address-data">
          <p>Street</p>
          <span>{{ data?.address?.address }}</span>
        </div>
        <div class="address-data">
          <p>City/Town</p>
          <span>{{ data?.address?.city }}</span>
        </div>
        <div class="address-data">
          <p>Zip Code</p>
          <span>{{ data?.address?.zipCode }}</span>
        </div>
        <div class="address-data">
          <p>State</p>
          <span>{{ data?.address?.state }}</span>
        </div>
        <div style="border: none;" class="address-data">
          <p>Country</p>
          <span>{{ data?.address?.country }}</span>
        </div>
      </div>
      <!-- if user has no address -->
      <div class="none" *ngIf="data?.address?.address === null">
          <br>
        <h4>No Address</h4>
      </div>
    </div>


    <div style="border-top: 2px solid lightgrey;padding: 2rem;" class="profile-body">
      <div class="profile-body-title">
        <h5>Payment</h5>
        <div class="option">
          <button *ngIf="data?.payment?.cardNumber === null" (click)="onOpenModal('add','payment')">Add Payment</button>
          <button *ngIf="data?.payment?.cardNumber !== null" (click)="onOpenModal('edit', 'payment')">Edit</button>
          <button *ngIf="data?.payment?.cardNumber !== null" id="delete" (click)="onOpenModal('delete', 'payment')">Remove</button>
        </div>
      </div>
      <div class="payment" *ngIf="data?.payment?.cardNumber !== null">
        <div class="payment-data">
          <p>Card Number</p>
          <h5>{{ data?.payment?.cardNumber }}</h5>
        </div>
        <div class="payment-data">
          <p>Expiration Date</p>
          <span>{{ data?.payment?.expDate | date }}</span>
        </div>
        <div class="payment-data" style="border:none;">
          <p>CVC</p>
          <form class="data">
            <span>{{ data?.payment?.cvc}}</span>
            <!-- <input ngModel="{{ data?.payment?.cvc }}"  [type]="show2 ? 'text' : 'password'" name="cvc" id="cvc" placeholder="CVC" />
            <span id="showP" (click)="showPassword2()"><fa-icon [icon]="faFaceRollingEyes"></fa-icon>{{show2 ? 'Hide CVC' : 'View CVC' }}</span> -->
          </form>
        </div>
      </div>
      <div class="none" *ngIf="data?.payment?.cardNumber === null" >
        <br>
        <h4>No Payment Method</h4>
      </div>
    </div>
  </div>
</div>

<!-- FORMS -->
<div class="screen" id="screen"></div>

<!-- add modals -->
<div class="modal" id="add-address-modal">
  <div class="modal-title">
    <h2>Add Address</h2>
    <button (click)="onCloseModal('add','address')">x</button>
  </div>
  <form #addAddressForm="ngForm" (ngSubmit)="addAddress(addAddressForm)" ngNativeValidate>
    <div class="modal-body">
      <div class="modal-input">
        <label for="address">Address</label>
        <input ngModel type="text" name="address" id="address" placeholder="Address 1..." required />
      </div>
      <div class="modal-input">
        <label for="city">City</label>
        <input ngModel type="text" name="city" id="city" placeholder="City" required />
      </div>
      <div class="modal-input">
        <label for="zip">Zip Code</label>
        <input ngModel type="text" name="zip" id="zip" pattern="^[0-9]{5}$" autocomplete="postal-code"
          placeholder="XXXXX" required />
      </div>
      <div class="modal-input">
        <label for="state">State</label>
        <input ngModel type="text" name="state" id="state" placeholder="State" required />
      </div>
      <div class="modal-input">
        <label for="country">Country</label>
        <input ngModel type="text" name="country" id="country" placeholder="Country..." required />
      </div>
    </div>
    <div class="modal-footer">
      <button id="confirm">Add Address</button>
    </div>
  </form>
</div>

<!-- add payment -->
<div class="modal" id="add-payment-modal">
  <div class="modal-title">
    <h2>Add Payment</h2>
    <button (click)="onCloseModal('add','payment')">x</button>
  </div>
  <form #addPaymentForm="ngForm" (ngSubmit)="addPayment(addPaymentForm)" ngNativeValidate>
    <div class="modal-body">
      <div class="modal-input">
        <input ngModel="{{ user.userId }}" type="hidden" id="userId" name="userId">
        <label for="cardNumber">Card Number</label>
        <input ngModel type="tel" inputmode="numeric" pattern="[0-9]{4}-[0-9]{4}-[0-9]{4}-[0-9]{4}"
          autocomplete="cc-number" maxlength="19" placeholder="XXXX-XXXX-XXXX-XXXX" name="cardNumber" id="cardNumber"
          required />
      </div>
      <div class="modal-input">
        <label for="expDate">Expiration Date</label>
        <input ngModel type="date" name="expDate" id="expDate" required />
      </div>
      <div class="modal-input">
        <label for="cvc">CVC</label>
        <input ngModel type="text" pattern="^[0-9]{3,4}$" autocomplete="cc-csc" maxlength="4" id="cvc" name="cvc"
          placeholder="XXX or XXXX" required />
      </div>
    </div>
    <div class="modal-footer">
      <button id="confirm">Add Payment</button>
    </div>
  </form>
</div>

<!-- edit modals -->
<div class="modal" id="edit-account-modal">
  <div class="modal-title">
    <h2>Edit Account</h2>
    <button (click)="onCloseModal('edit','account')">x</button>
  </div>
  <form #editUserForm="ngForm" (ngSubmit)="editUser(editUserForm)" ngNativeValidate>
    <div class="modal-body">
      <div class="modal-input">
        <input ngModel type="hidden" id="user_id" name="user_id">
        <label for="firstName">First Name</label>
        <input ngModel="{{ data?.firstName }}"  type="text" name="firstName" id="firstName" placeholder="First Name" />
      </div>
      <div class="modal-input">
        <label for="lastName">Last Name</label>
        <input ngModel="{{ data?.lastName }}"  type="text" name="lastName" id="lastName" placeholder="Last Name" />
      </div>
      <div class="modal-input">
        <label for="username">Username</label>
        <input ngModel="{{ data?.username }}"  type="text" name="username" id="username" placeholder="Username" />
      </div>
      <div class="modal-input">
        <label for="Email">Email Address</label>
        <input ngModel="{{ data?.email }}"  type="email" name="email" id="email" placeholder="Email" />
      </div>
      <div class="modal-input">
        <label for="phone">Phone Number</label>
        <input ngModel="{{ data?.phone }}"  pattern="^[0-9]{3}-[0-9]{3}-[0-9]{4}$" type="tel" name="phone" id="phone" placeholder="Phone" />
      </div>
      <div class="modal-input">
        <label for="password">Password</label>
        <input ngModel="{{ data?.password }}"  [type]="show ? 'text' : 'password'"type="password" name="password" id="password" placeholder="Password" />
        <span (click)="showPassword()"><fa-icon [icon]="faFaceRollingEyes"></fa-icon>{{show ? 'Hide Password' : 'Show Password' }}</span>
      </div>
    </div>
    <div class="modal-footer">
      <button id="confirm">Update</button>
    </div>
  </form>
</div>

<!-- edit address -->
<div class="modal" id="edit-address-modal">
  <div class="modal-title">
    <h2>Edit Address</h2>
    <button (click)="onCloseModal('edit','address')">x</button>
  </div>
  <form #editAddressForm="ngForm" (ngSubmit)="editAddress(editAddressForm)" ngNativeValidate>
    <div class="modal-body">
      <div class="modal-input">
        <label for="address">Address</label>
        <input ngModel="{{ data?.address?.address }}" type="text" name="address" id="address" placeholder="Address 1..." required />
      </div>
      <div class="modal-input">
        <label for="city">City</label>
        <input ngModel="{{ data?.address?.city }}" type="text" name="city" id="city" placeholder="City" required />
      </div>
      <div class="modal-input">
        <label for="zip">Zip Code</label>
        <input ngModel="{{ data?.address?.zipCode }}"  type="text" name="zip" id="zip" pattern="^[0-9]{5}$" autocomplete="postal-code" placeholder="XXXXX" required />
      </div>
      <div class="modal-input">
        <label for="state">State</label>
        <input ngModel="{{ data?.address?.state }}"  type="text" name="state" id="state" placeholder="State" required />
      </div>
      <div class="modal-input">
        <label for="country">Country</label>
        <input ngModel="{{ data?.address?.country }}"  type="text" name="country" id="country" placeholder="Country..." required />
      </div>
    </div>
    <div class="modal-footer">
      <button id="confirm">Edit Address</button>
    </div>
  </form>
</div>

<!-- edit payment -->
<div class="modal" id="edit-payment-modal">
  <div class="modal-title">
    <h2>Edit Payment</h2>
    <button (click)="onCloseModal('edit','payment')">x</button>
  </div>
  <form #editPaymentForm="ngForm" (ngSubmit)="editPayment(editPaymentForm)" ngNativeValidate>
    <div class="modal-body">
      <div class="modal-input">
        <label for="cardNumber">Card Number</label>
        <input ngModel="{{ data?.payment?.cardNumber }}" type="tel" inputmode="numeric"
          pattern="[0-9]{4}-[0-9]{4}-[0-9]{4}-[0-9]{4}" autocomplete="cc-number" maxlength="19"
          placeholder="XXXX-XXXX-XXXX-XXXX" name="cardNumber" id="cardNumber" required />
      </div>
      <div class="modal-input">
        <label for="expDate">Expiration Date</label>
        <input ngModel="{{ data?.payment?.expDate | date }}" type="date" name="expDate" id="expDate" required />
      </div>
      <div class="modal-input">
        <label for="cvc">CVC</label>
        <input ngModel="{{ data?.payment?.cvc }}" type="text" pattern="^[0-9]{3,4}$" autocomplete="cc-csc" maxlength="4" id="cvc" name="cvc" placeholder="XXX or XXXX" required />
      </div>
    </div>
    <div class="modal-footer">
      <button id="confirm">Edit Payment</button>
    </div>
  </form>
</div>


<!-- delete modals -->
<div class="modal" id="delete-account-modal">
  <div class="modal-title">
    <h2>Delete Account</h2>
    <button (click)="onCloseModal('delete', 'account')">x</button>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to delete this account?</p>
  </div>
  <div class="modal-footer">
    <button (click)="deleteUser()" id="confirm">Delete</button>
  </div>
</div>

<!-- delete address -->
<div class="modal" id="delete-address-modal">
  <div class="modal-title">
    <h2>Delete Address</h2>
    <button (click)="onCloseModal('delete', 'address')">x</button>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to delete this address?</p>
  </div>
  <div class="modal-footer">
    <button (click)="deleteAddress()" id="confirm">Delete</button>
  </div>
</div>

<!-- delete payment -->
<div class="modal" id="delete-payment-modal">
  <div class="modal-title">
    <h2>Delete Payment</h2>
    <button (click)="onCloseModal('delete', 'payment')">x</button>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to delete this payment?</p>
  </div>
  <div class="modal-footer">
    <button (click)="deletePayment()" id="confirm">Delete</button>
  </div>
</div>

<div class="success-notification" id="SuccessNotification">
  <div class="content">
    <span>Success!</span>
    <fa-icon id="icon" [icon]="faFaceSmileWink" [spin]="true"></fa-icon>
  </div>
</div>

<div class="error-notification" id="ErrorNotification">
  <div class="content">
    <span>Error!</span>
    <fa-icon id="icon" [icon]="faFaceAngry" [spin]="true"></fa-icon>
  </div>
</div>
