<!-- top navbar start -->
<div class="navbar">
  <button>
    <fa-icon id="icon" [icon]="faUserAstronaut"></fa-icon>
    <span id="username">username</span>
  </button>
  <a href="#">RevTech</a>
  <button>
    <fa-layers [fixedWidth]="true">
      <fa-icon [icon]="faShoppingCart" size="lg"></fa-icon>
      <fa-layers-counter id="counter" content="{{counter}}"></fa-layers-counter>
    </fa-layers>
  </button>
</div>
<!-- top navbar end -->

<!-- sort start -->
<div class="sort-categories">
  <input type="text" name="search" id="search" placeholder="Search..." />
  <select name="categories" id="categories">
    <option value="Phones">Phones</option>
    <option value="Phone Accessories">Phone Accessories</option>
    <option value="Televisons">Televisions</option>
    <option value="Laptops">Laptops</option>
    <option value="Computers">Computers</option>
    <option value="Gaming Consoles">Gaming Consoles</option>
    <option value="Gaming Accessories">Gaming Accessories</option>
  </select>

  <button>On Sale</button>
  <button>Featured</button>
</div>
<!-- sort end -->

<!-- products start -->
<div class="products">

  <div class="product">
    <div class="image"></div>
    <a href="#">Product Name</a>
    <div class="addToCart">
      <button (click)="AddOneToCart()">
        <fa-icon [icon]="faCartPlus"></fa-icon>
      </button>
    </div>
  </div>

  <div class="product">
    <div class="image"></div>
    <a href="#">Product Name</a>
    <div class="addToCart">
      <button (click)="AddOneToCart()">
        <fa-icon [icon]="faCartPlus"></fa-icon>
      </button>
    </div>
  </div>

  <div class="product">
    <div class="image"></div>
    <a href="#">Product Name</a>
    <div class="addToCart">
      <span class="price">$400.00</span>
      <button (click)="AddOneToCart()">
        <fa-icon [icon]="faCartPlus"></fa-icon>
      </button>
    </div>
  </div>
  <div class="product">
    <div class="image"></div>
    <a href="#">Product Name</a>
    <div class="addToCart">
      <button (click)="AddOneToCart()">
        <fa-icon [icon]="faCartPlus"></fa-icon>
      </button>
    </div>
  </div>
</div>
<!-- product end -->

<!-- Footer start -->
<div class="footer">
    <h3>RevTech</h3>
    <span>
      <fa-icon [icon]="faCopyright"></fa-icon>
      {{ year }} RevTech USA, Inc. All rights reserved.
    </span>
</div>
<!-- Footer end -->
